/* Home component styles */
.page-content.home {
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.privacy-policy {
        text-align: justify;
        overflow: auto;
        display: block;
        padding: $padding-sm-base;

        h3 {
            margin: 20px 0;
        }

        h4 {
            margin: 15px 0;
        }

        h3, h4 {
            text-align: center;
            display: block;
        }
    }
}

.logo-wrapper {
    margin-bottom: 15px;

    img {
        width: 150px;

        @media (--sm-min) {
            width: 250px
        }
    }
}

.gender-hint {
    width: 100%;
    text-align: center;
}

.gender-fieldset {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
}